<!DOCTYPE html>
<html>
    <head>
        <title>Contacts</title>
        <link href="/css/main.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Raleway:600,400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    <body class="container">
        <h2 class="light"><%= user.name %></h2>
        <h3 class="link"><a href="/users/delete/<%= user.name %>">Delete Contact</a></h3>
        <form action="/users/<%= user.name %>" method="POST">
        <table class="contact table table-striped">
            <tr>
            <td>
            <label>Full Name</label>
            <input class="input" type="text" id="name" name="name" value="<%= user.name %>" />
            </td>
            </tr>

            <tr>
            <td>
            <label>Title</label>
            <input class="input" type="text" id="title" name="title" value="<%= user.title %>" />
            </td>
            </tr>

            <tr>
            <td>
            <label>Street Address</label>
            <input class="input" type="text" id="address" name="address" value="<%= user.address %>" />
            </td>
            </tr>
            
            <tr>
            <td>
            <label>City</label>
            <input class="input" type="text" id="city" name="city" value="<%= user.city %>" />
            </td>
            </tr>
            
            <tr>
            <td>
            <label>State</label>
            <input class="input" type="text" id="state" name="state" value="<%= user.state %>" />
            </td>
            </tr>
            
            <tr>
            <td>
            <label>Zip</label>
            <input class="input" type="text" id="zip" name="zip" value="<%= user.zip %>" />
            </td>
            </tr>
            
            <tr>
            <td>
            <label>Notes</label>
            <input class="input" type="textfield" id="notes" name="notes" value="<%= user.notes %>" />
            </td>
            </tr>
            
            </table>
            <button class="link">Update Contact</button>
    
        </form>
    </body>
</html>
